body {
    font-family: 'Gilda Display';
    font-size: 2rem;
}

.jumbotron{
    border-radius: 0%;
    margin-left:26%;
    margin-right:25%;
    margin-top:1%;
    border-style: solid;
    border-color: rgb(108,117,125);
}

h1 {
    color: white;
    background-color: rgb(108,117,125);
    font-family: 'Gilda Display';
    font-size: 3rem;
    text-align: center;
    margin-top: 0.75%;
    padding: 1%;
}

#lab {
    color: white;
    font-size: 2.5rem;
    margin-bottom:2%;
    color: black;
}

p {
    color: black;
}

#bot {
    color: black;
    margin-top:2%;
}

#clock{
    margin-left:36%;
    margin-right:25%;
    margin-top: 0.5%;
}